/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@sparkdesignsystem/spark-styles/spark.scss";

* {
    font-family: RocketSans;
}

/* Common Section */

.container-section {
    width: 100%;
    min-height: 25px;
    margin-bottom: 2%;
    clear: both;
    padding-bottom: 1%;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(165, 151, 255);
}

.container-sub-section {
    clear: both;
    width: 100%;
    min-height: 25px;
    margin-top: 1%;
    margin-left: 2%;
}

.header-text {
    font-size: 18pt;
    font-weight: bolder;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    font-family: sans-serif;
}

.sub-header-text {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    font-family: sans-serif;
}

.item-text {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    font-family: sans-serif;
}

.cinema-manager-selection-container {
    width: 100%;
}

.input-type-radio-left {
    float: left !important;
    margin-right: 5% !important;
}

.input-type-radio-right {
    float: left !important;
}

.file-upload-button {
    float: left;
    margin-left: 5%;
    margin-bottom: 1% !important;
}

.cinema-manager-circular-ok-message svg {
    fill: #13a48e !important;
    stroke: white !important;
}

.cinema-manager-circular-ok-message svg:hover {
    fill: #01947e !important;
    cursor: pointer;
}

.cinema-manager-organize-filled svg {
    fill: #FFE9A2 !important;
    stroke: white !important;
}

.cinema-manager-organize-filled svg:hover {
    fill: #f3cd5d !important;
    cursor: pointer;
}

.cinema-manager-settings-filled svg {
    fill: #aaa9ad !important;
    stroke: white !important;
}

.cinema-manager-settings-filled svg:hover {
    fill: #cececf !important;
    cursor: pointer;
}


/* Unique Section */

.cinema-manager-container > .sprk-c-Card {
    max-width: 200rem !important;
}

#cinema-manager-description {
    font-size: 9pt;
    font-style: italic;
}

#control-file-upload-label {
    float: left;
}

#letter-creation-type-group {
    float: left;
    margin-bottom: 1%;
}

#letter-creation-type-group > div.sprk-b-InputContainer {
    margin-bottom: 0px !important;
}

#subject-input-container > div {
    margin-top: 2%;
}

#template-upload-label {
    float: left;
}

#checks-upload-label {
    float: left;
}

#view-files-link {
    width: 75px;
}
